.color-box{
    width: 650px;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    align-self: auto;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    border: 2px solid; 
    border-radius: 15px;
}

/* B U T T O N S */

.button{
    -webkit-tap-highlight-color: transparent;
    width: 5.7vmin;
    height: 5.7vmin;
    border-radius:50%;
    border: 1.5px solid black;
    text-align: center;
    cursor: pointer;
}

.no-button{
    border: none;
}
.black{
    color: black;
    background: black;
}
.brown{
    color: rgb(88, 39, 7);
    background: rgb(88, 39, 7);
}
.red{
    color: rgb(184, 1, 1);
    background: rgb(184, 1, 1);
}
.orange{
    color: orangered;
    background: orangered;
}
.yellow{
    color: rgb(255, 230, 0);
    background: rgb(255, 230, 0);
}
.green{
    color: green;
    background: green;
}
.blue{
    color: blue;
    background: blue;
}
.violet{
    color: rgb(202, 0, 202);;
    background: rgb(202, 0, 202);
}
.grey{
    color: grey;
    background: grey;
}
.white{
    color: white;
    background: white;
}

/* B O R D E R S */

    .border-black{
        border-color: black;
    }
    .border-white{
        border-color: white;
    }

/* B A C K G R O U N D - C O L O R  ( C H A N G E S ) */

    .bg-black{
        background: black;
        color: white;
    }
    .bg-brown{
        background:rgb(88, 39, 7);
    }
    .bg-red{
        background:rgb(184, 1, 1);
    }
    .bg-orange{
        background:orangered;
    }
    .bg-yellow{
        background:rgb(255, 230, 0);
    }
    .bg-green{
        background:green;
    }
    .bg-blue{
        background:blue;
    }
    .bg-violet{
        background:rgb(202, 0, 202);
    }
    .bg-grey{
        background: grey;
    }
    .bg-white{
        background: white;
    }

    .header-box{
        max-width: 100%;
        max-height: 100%;
        position: absolute;
	    top:0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    	align-content: center;
    }
        .header{
            width: 590px;
            height: 250px;
            padding: 0px 30px;
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            display: flex;
    	    flex-direction: row;
    	    flex-wrap: wrap;
    	    justify-content: center;
    	    align-items: center;
    	    align-content: center;
            border: 2px solid; 
            border-radius: 15px;
        }
            .box{
                align-self: auto;
            }
            .box:first-child{
                margin-right: 20px;
            }
            .box-1{
                width: 200px;
                height: 200px;
                display: inline-block;
                flex: 1 1 auto;
                align-self: auto;
                position: relative; 
                overflow: hidden;
                border-radius: 50%;
            }
                .image{ 
                    position: absolute;
                    margin-top: -5px;
                    margin-left: -40px;
                    max-width: 145%;
                }
                .box-2{
                    flex: 7 1 auto;
                    align-self: auto;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-content: center;

                }
                .text{
                    text-align: end;
                    font-family: "Helvetica";
                    margin: 5px;
                }
                    h1{
                        font-family: "myFont";
                        font-size: 65px;
                        border-bottom: 2px solid;
                    }
                    .h1-black{
                        border-color: black;
                    }
                    .h1-white{
                        border-color: white;
                    }
                    h3{
                        font-size: 25px;
                    }

            .footer{
                padding-top: 5px;
                margin-top: 15px;
                width: 650px;
                height: 50px;
                order: 0;
                flex: 0 1 auto;
                align-self: auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                align-content: center;
                border: 2px solid; 
                border-radius: 15px;
            }

                .footer a{
                    font-size: 35px;
                }

                .a-black{
                    color: black;
                }

                .a-white{
                    color: white;
                }

/* RESPONSIVE FOR MOBILE */

@media only screen and (max-width: 1920px){

    .button{
    width: 35px;
    height: 35px;
    }
}

@media only screen and (max-width: 700px){

    .color-box{
        max-width: 77%;
        height: 43px;
    }

    .button{
    width: 5vmin;
    height: 5vmin;
    }

    .header{
        max-width:70%;
        height: 340px;
        padding: 20px;
        display: flex;
    	flex-direction: column;
    	flex-wrap: nowrap;
    	justify-content: center;
    	align-items: center;
    	align-content: center;
    }   
            .box:first-child{
                        margin-right: 0px;
            }
            .box-1{
                max-width: 100%;
                margin-bottom: 20px;
            }
            .box-2{
                max-width: 100%;
            }
                .text{
                    text-align: center;
                }
                    h1{
                        font-size: 55px;
                    }
                    h3{
                        font-size: 20px;
                    }
    
    .footer{
        max-width:77%;
    }
}

@media only screen and (max-width: 480px){

    .color-box{
        max-width: 79%;
        height: 35px;
    }

                    h1{
                        font-size:52px;
                    }
    .footer{
        max-width: 79%;
    }
}

@media only screen and (max-width: 385px) {

    .color-box{
        max-width: 81%;
        height: 30px;
    }

                    h1{
                        font-size: 13vmin;
                    }
    .footer{
        max-width: 81%;
    }
}